<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1"  maxBufferSize="20000000"
                 maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000"
                 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4640/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="WcfHoasis.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>
